<title>{{page.title}}</title>
<h1>{{page.header}}</h1>

test

{{page.cart[1]}}
  {{#each page.myCart}}
  {{.}}
  {{/each}}



  <title>{{page.title}}</title>
<style>
  table, td, th
  {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
  }
</style>
<h1>{{page.header}}</h1><hr>
<div>

<div id="about">
</div>

Test

  <table>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Email</th>
      <th>Bio</th>
    </tr>
    {{#each page.employee}}
      <tr>
        <td>{{name}}</td>
        <td>{{title}}</td>
        <td>{{email}}</td>
        <td>{{bio}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}
{{{page.script}}}
</div>